<!DOCTYPE html>
<html>
    <head>
        <title>
            Login
        </title>
    </head>
    <body>
        <div class="container">
            <div class="row justify-content-md-center">
            	<div>
	                <form>
	                    <div class="mb-3">
	                        <label class="form-label" for="usuario">
	                            Usuario
	                        </label>
	                        <input aria-describedby="emailHelp" class="form-control" id="usuario" type="text">
	                        </input>
	                    </div>
	                    <div class="mb-3">
	                        <label class="form-label" for="exampleInputPassword1">
	                            Password
	                        </label>
	                        <input class="form-control" id="exampleInputPassword1" type="password">
	                        </input>
	                    </div>
	                    <div class="mb-3 form-check">
	                        <input class="form-check-input" id="exampleCheck1" type="checkbox">
	                            <label class="form-check-label" for="exampleCheck1">
	                                Check me out
	                            </label>
	                        </input>
	                    </div>
	                    <button class="btn btn-primary" type="submit">
	                        Enviar
	                    </button>
	                    <a class="btn btn-light" href="#">
	                        Registro
	                    </a>
	                </form>
                </div>
            </div>
        </div>
    </body>
</html>
